# Dependencies
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.git
**/.gitignore
**/.svn
**/.idea
**/.vscode
**/node_modules
**/.npm
.DS_Store
**/*.log
**/logs
**/tmp
**/temp
**/.*.swp
**/.DS_Store
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local
**/docker-compose.yml
**/docker-compose.dev.yml
**/README.md
**/install.txt
**/install.md
**/.dockerignore